#                               # ASSIGNMENT-1 | DAY 2

# List and its functions

In [ ]:
lst = [1,2,3,6.6,7.7,8.8,"ABC","XYZ","PQR",[1,2]]
lst

In [13]:
lst.append(5)
lst

[5, 5, 1, 2, 3, 7.7, 8.8, 'ABC', 'XYZ', 'PQR', [1, 2], '5', 5, 5]

In [3]:
lst.pop(3)

6.6

In [4]:
lst.index(2)

1

In [8]:
lst.copy()

[5, '5', [1, 2], 'PQR', 'XYZ', 'ABC', 8.8, 7.7, 3, 2, 1]

In [14]:
lst.reverse()
lst

[5, 5, '5', [1, 2], 'PQR', 'XYZ', 'ABC', 8.8, 7.7, 3, 2, 1, 5, 5]

In [19]:
lst.clear()
lst

[]

# Dictionaries AND its functions

In [21]:
dit = {"firstname":"robert","lastname=":"jr","age":"50","place":"florida","mobno":"8080313233"}
dit

{'firstname': 'robert',
 'lastname=': 'jr',
 'age': '50',
 'place': 'florida',
 'mobno': '8080313233'}

In [22]:
dit.get("age")

'50'

In [24]:
dit.pop("firstname")

'robert'

In [25]:
dit.keys()

dict_keys(['lastname=', 'age', 'place', 'mobno'])

In [26]:
dit.items()

dict_items([('lastname=', 'jr'), ('age', '50'), ('place', 'florida'), ('mobno', '8080313233')])

In [27]:
dit.values()

dict_values(['jr', '50', 'florida', '8080313233'])

In [30]:
dit.clear()
dit

{}

# Sets And Its Functions

In [1]:
st = {"ABC","PQR",1,2,3,4,5,5,6,6,6}
st

{1, 2, 3, 4, 5, 6, 'ABC', 'PQR'}

In [3]:
st.add(7)
st

{1, 2, 3, 4, 5, 6, 7, 'ABC', 'PQR'}

In [9]:
st.discard(3)
st

{1, 2, 5, 6, 7, 'ABC', 'PQR'}

In [11]:
st.pop()

1

In [12]:
st.union()

{2, 5, 6, 7, 'ABC', 'PQR'}

In [16]:
st1 = {5,6,7}
st1.intersection(st)

{5, 6, 7}

In [17]:
st1.issubset(st)

True

# Tuples AND Its Functions

In [19]:
tup = ("ABC","@","PQR.XYZ","LMN")
tup

('ABC', '@', 'PQR.XYZ', 'LMN')

In [20]:
tup.count("@")

1

In [21]:
tup.index("LMN")

3

In [23]:
len(tup)

4

In [25]:
any(tup)

True

In [26]:
enumerate(tup)

# String And Its Functions

In [56]:
str = "assignment DAY Two"
str

'assignment DAY Two'

In [57]:
str.upper()

'ASSIGNMENT DAY TWO'

In [58]:
str.replace("Two","Three")

'assignment DAY Three'

In [60]:
str.capitalize()

'Assignment day two'

In [61]:
str.lower()

'assignment day two'

In [63]:
str.find("DAY")

11